In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving KDD.csv to KDD.csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['KDD.csv']))

In [4]:
df

       duration protocol_type  ... dst_host_srv_rerror_rate    class
0             0           tcp  ...                     1.00  anomaly
1             0           tcp  ...                     1.00  anomaly
2             2           tcp  ...                     0.00   normal
3             0          icmp  ...                     0.00  anomaly
4             1           tcp  ...                     0.71  anomaly
...         ...           ...  ...                      ...      ...
22539         0           tcp  ...                     0.00   normal
22540         0           tcp  ...                     0.00   normal
22541         0           tcp  ...                     0.07  anomaly
22542         0           udp  ...                     0.00   normal
22543         0           tcp  ...                     1.00  anomaly

[22544 rows x 42 columns]

In [5]:
df.dropna(inplace=True)

In [6]:
df.shape

(22544, 42)

In [7]:
df.columns

Index(['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
       'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot',
       'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell',
       'su_attempted', 'num_root', 'num_file_creations', 'num_shells',
       'num_access_files', 'num_outbound_cmds', 'is_host_login',
       'is_guest_login', 'count', 'srv_count', 'serror_rate',
       'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate',
       'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count',
       'dst_host_srv_count', 'dst_host_same_srv_rate',
       'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate',
       'dst_host_srv_diff_host_rate', 'dst_host_serror_rate',
       'dst_host_srv_serror_rate', 'dst_host_rerror_rate',
       'dst_host_srv_rerror_rate', 'class'],
      dtype='object')

In [8]:
df.dtypes

duration                         int64
protocol_type                   object
service                         object
flag                            object
src_bytes                        int64
dst_bytes                        int64
land                             int64
wrong_fragment                   int64
urgent                           int64
hot                              int64
num_failed_logins                int64
logged_in                        int64
num_compromised                  int64
root_shell                       int64
su_attempted                     int64
num_root                         int64
num_file_creations               int64
num_shells                       int64
num_access_files                 int64
num_outbound_cmds                int64
is_host_login                    int64
is_guest_login                   int64
count                            int64
srv_count                        int64
serror_rate                    float64
srv_serror_rate                float64
rerror_rate                    float64
srv_rerror_rate                float64
same_srv_rate                  float64
diff_srv_rate                  float64
srv_diff_host_rate             float64
dst_host_count                   int64
dst_host_srv_count               int64
dst_host_same_srv_rate         float64
dst_host_diff_srv_rate         float64
dst_host_same_src_port_rate    float64
dst_host_srv_diff_host_rate    float64
dst_host_serror_rate           float64
dst_host_srv_serror_rate       float64
dst_host_rerror_rate           float64
dst_host_srv_rerror_rate       float64
class                           object
dtype: object

In [9]:
df['protocol_type']=df['protocol_type'].astype('category')
df['service']=df['service'].astype('category')
df['flag']=df['flag'].astype('category')

In [10]:
df['protocol_type'].unique()

['tcp', 'icmp', 'udp']
Categories (3, object): ['tcp', 'icmp', 'udp']

In [11]:
df['service'].unique()

['private', 'ftp_data', 'eco_i', 'telnet', 'http', ..., 'efs', 'X11', 'ntp_u', 'klogin', 'tftp_u']
Length: 64
Categories (64, object): ['private', 'ftp_data', 'eco_i', 'telnet', ..., 'X11', 'ntp_u', 'klogin',
                          'tftp_u']

In [12]:
df['flag'].unique()

['REJ', 'SF', 'RSTO', 'S0', 'RSTR', ..., 'S3', 'S2', 'S1', 'RSTOS0', 'OTH']
Length: 11
Categories (11, object): ['REJ', 'SF', 'RSTO', 'S0', ..., 'S2', 'S1', 'RSTOS0', 'OTH']

In [13]:
df['protocol_type']=df['protocol_type'].cat.rename_categories([0,1,2])

In [14]:
df['flag']=df['flag'].cat.rename_categories([0,1,2,3,4,5,6,7,8,9,10])

In [15]:
df['service']=df['service'].cat.rename_categories([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,63])

In [16]:
df['class'].unique()

array(['anomaly', 'normal'], dtype=object)

In [17]:
df['class']=df['class'].astype('category')
df['class']=df['class'].cat.rename_categories([0,1])

In [18]:
df['protocol_type'].unique()

[1, 0, 2]
Categories (3, int64): [1, 0, 2]

In [19]:
df['service'].unique()

[45, 19, 13, 55, 22, ..., 15, 1, 39, 26, 56]
Length: 64
Categories (64, int64): [45, 19, 13, 55, ..., 1, 39, 26, 56]

In [20]:
df['flag'].unique()

[1, 9, 2, 5, 4, ..., 8, 7, 6, 3, 0]
Length: 11
Categories (11, int64): [1, 9, 2, 5, ..., 7, 6, 3, 0]

In [21]:
df['class'].unique()

[0, 1]
Categories (2, int64): [0, 1]

In [22]:
X=df.iloc[:,0:41]
y=df.iloc[:,41:42]

In [23]:
X

       duration protocol_type  ... dst_host_rerror_rate dst_host_srv_rerror_rate
0             0             1  ...                 1.00                     1.00
1             0             1  ...                 1.00                     1.00
2             2             1  ...                 0.00                     0.00
3             0             0  ...                 0.00                     0.00
4             1             1  ...                 0.83                     0.71
...         ...           ...  ...                  ...                      ...
22539         0             1  ...                 0.00                     0.00
22540         0             1  ...                 0.00                     0.00
22541         0             1  ...                 0.07                     0.07
22542         0             2  ...                 0.00                     0.00
22543         0             1  ...                 0.44                     1.00

[22544 rows x 41 columns]

In [24]:
y

      class
0         0
1         0
2         1
3         0
4         0
...     ...
22539     1
22540     1
22541     0
22542     1
22543     0

[22544 rows x 1 columns]

In [25]:
y.value_counts()

class
0        12833
1         9711
dtype: int64

In [26]:
from sklearn.datasets import make_classification
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import LeakyReLU
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.models import load_model
from tensorflow.keras.utils import plot_model

In [27]:
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
# scale data
t = MinMaxScaler()
t.fit(X_train)
X_train = t.transform(X_train)
X_test = t.transform(X_test)

In [28]:
# split into train test sets
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.33, random_state=1)
# scale data
t = MinMaxScaler()
t.fit(X_train)
Xtrain = t.transform(X_train)
Xtest = t.transform(X_test)

In [29]:
# AutoEncoder Model Preparation
n_inputs = X.shape[1]
# define encoder
input_data_shape= Input(shape=(n_inputs,))
# encoder level 1
encoder= Dense(n_inputs*2)(input_data_shape)
encoder = BatchNormalization()(encoder)
encoder= LeakyReLU()(encoder)
# encoder level 2
encoder= Dense(n_inputs)(encoder)
encoder= BatchNormalization()(encoder)
encoder= LeakyReLU()(encoder)
# encoder level 3
encoder= Dense(n_inputs/2.0)(encoder)
encoder= BatchNormalization()(encoder)
encoder= LeakyReLU()(encoder)
# bottleneck
n_bottleneck = round(float(n_inputs) / 4.0)
bottleneck = Dense(n_bottleneck)(encoder)
# define decoder, level 1
decoder = Dense(n_inputs)(bottleneck)
decoder = BatchNormalization()(decoder)
decoder = LeakyReLU()(decoder)
# decoder level 2
decoder = Dense(n_inputs*2)(decoder)
decoder = BatchNormalization()(decoder)
decoder = LeakyReLU()(decoder)
# decoder level 3
decoder = Dense(n_inputs*4)(decoder)
decoder = BatchNormalization()(decoder)
decoder = LeakyReLU()(decoder)

In [30]:
# output layer
output = Dense(n_inputs, activation='linear')(decoder)
# define autoencoder model
model = Model(inputs=input_data_shape, outputs=output)
# compile autoencoder model
model.compile(optimizer='adam', loss='mse')

In [31]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 41)]              0
_________________________________________________________________
dense (Dense)                (None, 82)                3444
_________________________________________________________________
batch_normalization (BatchNo (None, 82)                328
_________________________________________________________________
leaky_re_lu (LeakyReLU)      (None, 82)                0
_________________________________________________________________
dense_1 (Dense)              (None, 41)                3403
_________________________________________________________________
batch_normalization_1 (Batch (None, 41)                164
_________________________________________________________________
leaky_re_lu_1 (LeakyReLU)    (None, 41)                0
_________________________________________________________________
dense_2 (Dense)              (None, 20)                840
_________________________________________________________________
batch_normalization_2 (Batch (None, 20)                80
_________________________________________________________________
leaky_re_lu_2 (LeakyReLU)    (None, 20)                0
_________________________________________________________________
dense_3 (Dense)              (None, 10)                210
_________________________________________________________________
dense_4 (Dense)              (None, 41)                451
_________________________________________________________________
batch_normalization_3 (Batch (None, 41)                164
_________________________________________________________________
leaky_re_lu_3 (LeakyReLU)    (None, 41)                0
_________________________________________________________________
dense_5 (Dense)              (None, 82)                3444
_________________________________________________________________
batch_normalization_4 (Batch (None, 82)                328
_________________________________________________________________
leaky_re_lu_4 (LeakyReLU)    (None, 82)                0
_________________________________________________________________
dense_6 (Dense)              (None, 164)               13612
_________________________________________________________________
batch_normalization_5 (Batch (None, 164)               656
_________________________________________________________________
leaky_re_lu_5 (LeakyReLU)    (None, 164)               0
_________________________________________________________________
dense_7 (Dense)              (None, 41)                6765
=================================================================
Total params: 33,889
Trainable params: 33,029
Non-trainable params: 860
_________________________________________________________________

In [34]:
history = model.fit(X_train, y_train, epochs=50, batch_size=38, verbose=2, validation_data=(X_test,y_test))

Epoch 1/50
398/398 - 4s - loss: 0.0233 - val_loss: 0.4832
Epoch 2/50
398/398 - 3s - loss: 0.0203 - val_loss: 1.3262
Epoch 3/50
398/398 - 3s - loss: 0.0219 - val_loss: 0.5877
Epoch 4/50
398/398 - 4s - loss: 0.0219 - val_loss: 0.9190
Epoch 5/50
398/398 - 3s - loss: 0.0193 - val_loss: 0.6310
Epoch 6/50
398/398 - 4s - loss: 0.0204 - val_loss: 0.6257
Epoch 7/50
398/398 - 3s - loss: 0.0196 - val_loss: 0.7837
Epoch 8/50
398/398 - 3s - loss: 0.0201 - val_loss: 0.7563
Epoch 9/50
398/398 - 4s - loss: 0.0191 - val_loss: 0.9162
Epoch 10/50
398/398 - 4s - loss: 0.0197 - val_loss: 1.0290
Epoch 11/50
398/398 - 3s - loss: 0.0192 - val_loss: 0.9605
Epoch 12/50
398/398 - 3s - loss: 0.0190 - val_loss: 0.6723
Epoch 13/50
398/398 - 3s - loss: 0.0196 - val_loss: 0.6071
Epoch 14/50
398/398 - 3s - loss: 0.0191 - val_loss: 0.9645
Epoch 15/50
398/398 - 3s - loss: 0.0201 - val_loss: 0.9104
Epoch 16/50
398/398 - 3s - loss: 0.0190 - val_loss: 0.9474
Epoch 17/50
398/398 - 3s - loss: 0.0184 - val_loss: 0.8722
Epoch 18/50
398/398 - 3s - loss: 0.0181 - val_loss: 0.8933
Epoch 19/50
398/398 - 3s - loss: 0.0185 - val_loss: 0.7414
Epoch 20/50
398/398 - 3s - loss: 0.0189 - val_loss: 0.6718
Epoch 21/50
398/398 - 3s - loss: 0.0180 - val_loss: 0.5019
Epoch 22/50
398/398 - 3s - loss: 0.0184 - val_loss: 0.7171
Epoch 23/50
398/398 - 3s - loss: 0.0191 - val_loss: 0.7231
Epoch 24/50
398/398 - 4s - loss: 0.0181 - val_loss: 0.7056
Epoch 25/50
398/398 - 4s - loss: 0.0186 - val_loss: 0.6066
Epoch 26/50
398/398 - 4s - loss: 0.0176 - val_loss: 0.3616
Epoch 27/50
398/398 - 3s - loss: 0.0187 - val_loss: 0.6499
Epoch 28/50
398/398 - 4s - loss: 0.0182 - val_loss: 0.7700
Epoch 29/50
398/398 - 4s - loss: 0.0179 - val_loss: 0.8298
Epoch 30/50
398/398 - 3s - loss: 0.0178 - val_loss: 0.7195
Epoch 31/50
398/398 - 3s - loss: 0.0181 - val_loss: 0.5609
Epoch 32/50
398/398 - 3s - loss: 0.0180 - val_loss: 0.7635
Epoch 33/50
398/398 - 3s - loss: 0.0180 - val_loss: 0.5435
Epoch 34/50
398/398 - 3s - loss: 0.0173 - val_loss: 0.5207
Epoch 35/50
398/398 - 4s - loss: 0.0173 - val_loss: 0.4451
Epoch 36/50
398/398 - 4s - loss: 0.0178 - val_loss: 0.4370
Epoch 37/50
398/398 - 3s - loss: 0.0175 - val_loss: 0.4580
Epoch 38/50
398/398 - 3s - loss: 0.0173 - val_loss: 0.4352
Epoch 39/50
398/398 - 3s - loss: 0.0176 - val_loss: 0.4854
Epoch 40/50
398/398 - 4s - loss: 0.0179 - val_loss: 0.5238
Epoch 41/50
398/398 - 3s - loss: 0.0174 - val_loss: 0.5733
Epoch 42/50
398/398 - 3s - loss: 0.0170 - val_loss: 0.4468
Epoch 43/50
398/398 - 3s - loss: 0.0175 - val_loss: 0.2344
Epoch 44/50
398/398 - 3s - loss: 0.0169 - val_loss: 0.1882
Epoch 45/50
398/398 - 3s - loss: 0.0174 - val_loss: 0.2198
Epoch 46/50
398/398 - 4s - loss: 0.0170 - val_loss: 0.3253
Epoch 47/50
398/398 - 3s - loss: 0.0171 - val_loss: 0.1996
Epoch 48/50
398/398 - 4s - loss: 0.0174 - val_loss: 0.5342
Epoch 49/50
398/398 - 3s - loss: 0.0169 - val_loss: 0.6480
Epoch 50/50
398/398 - 3s - loss: 0.0168 - val_loss: 0.2233

In [35]:
# define an encoder model (without the decoder)
encoder = Model(inputs=input_data_shape, outputs=bottleneck)
# save the encoder to file
encoder.save('encoder.h5')

WARNING:tensorflow:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [40]:
#Building a Base Model to compare the performance after compressing the data using Encoder model.

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
t = MinMaxScaler()
t.fit(X_train)
X_train = t.transform(X_train)
X_test = t.transform(X_test)
# define model
model = LogisticRegression()
# fit model on training set
model.fit(X_train, y_train)
# make prediction on test set
yhat = model.predict(X_test)
# calculate accuracy
acc = accuracy_score(y_test, yhat)
print(acc)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9346774193548387

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [41]:
#Compressing the input data using Encoder Model and fitting it on the Logistic Regression model.
# load the model from file
encoder = load_model('encoder.h5')

# encode the train data
X_train_encode = encoder.predict(X_train)
# encode the test data
X_test_encode = encoder.predict(X_test)
# define the model
model = LogisticRegression(max_iter=1000)
# fit the model on the training set
model.fit(X_train_encode, y_train)
# make predictions on the test set
yhat = model.predict(X_test_encode)
# calculate classification accuracy
acc = accuracy_score(y_test, yhat)
print(acc)

WARNING:tensorflow:No training configuration found in the save file, so the model was *not* compiled. Compile it manually.
0.9748655913978495

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)